<%- include('./partials/header.ejs') %>
    <title>
        Find by Search Page
    </title>
    <link rel="stylesheet" href="/home.css">
</head>
<body>

<div id="container">
    <div id="nav">
        <div class="left">
            <form action="/title" method="GET">
                <input type="text" name="title" placeholder="Enter Title term">
                <span><button><i class="fas fa-search"></i></button><span>
            </form>
        </div>
        <div class="right">
            <form action="/search" method="GET">
                <input type="text" name='search' placeholder="Enter Search term">
                <span><button><i class="fas fa-search"></i></button><span>
            </form>
        </div>
    </div>
    <% for(var i = 0; i < data["Search"].length; i++){ %>
        <div class="f">
                <div class="lfl">
                    <img src="<%= data["Search"][i]["Poster"] %>">
                </div>
                <div class="rfl">
                    <div class="title">
                        <%= data["Search"][i]["Title"].toUpperCase() %>
                    </div>
                    <div class="content">
                        <p>
                            <strong>Year Released:</strong> <%= data["Search"][i]["Year"] %>
                        </p>
                    </div>
                    <div class="content">
                        <p>
                            <strong>Type:</strong> <%= data["Search"][i]["Type"].toUpperCase() %>
                        </p>
                    </div>
                </div>
        </div>
    <% } %>
</div>

<%- include('./partials/footer.ejs') %>